---
import CalidadVertimiento from "./components/CurvaCalidad.tsx";
// import SimuladorPTAR from "./components/SimuladorPTAR.tsx";
---

<main style="display:grid; gap:24px; padding:16px;">
  <CalidadVertimiento client:only="react" />
  <!-- <SimuladorPTAR client:only="react" /> -->
</main>